<!-- aaaaaaaaaaaaa {{title}}
bbbb{{mek}}
<div>
  <button type="button" (click)="disName()">click</button>
  <button type="button" (click)="changeName('tenapat')">click change</button>
  <button type="button" (click)="changeName('burin')">click change</button>
  <button type="button" (click)="changeName('narubate')">click change</button>
</div>
<app-action-bar (numberChange)="testNUmberChange($event)" [step]="5"></app-action-bar>
<app-action-bar (numberChange)="testNUmberChange($event)" [step]="10"></app-action-bar><br>
<button type="button" (click)="testClick()">
  testEventBinding()
</button> -->


<!-- <app-max-min-meter [minLabel]="appMinLabel" [maxLabel]="appMaxLabel" (maxChange)="doAppMaxChange($event)"
  (minChange)="doAppMinChange($event)">
</app-max-min-meter> -->



<!-- <app-square-flex [divHeight]="squareHeight" [divWith]="squareWidth"> </app-square-flex>
<div>
  width:
  <button type="button" (click)="squareWidth=50">50px</button>
  <button type="button" (click)="squareWidth=100">100px</button>
  <button type="button" (click)="squareWidth=200">200px</button>
</div>
<div>
  height:
  <button type="button" (click)="squareHeight=50">50px</button>
  <button type="button" (click)="squareHeight=100">100px</button>
  <button type="button" (click)="squareHeight=200">200px</button>
</div> -->

<!-- จากด้านล่างเปลี่ยนเป็น [(couter)]="appCouter"
[couter]="appCouter" (couterChange)="appCouter = $event" -->

<!-- <app-action-bar [(couter)]="appCouter" [step]="10">
</app-action-bar>
<app-square-flex [divWith]="appCouter"></app-square-flex> -->

<!-- <div *ngIf="activate else elseTemplate">
  <app-action-bar></app-action-bar>
</div>
<ng-template #elseTemplate>
  <div>
    activate now
  </div>
</ng-template>
<button type="button" (click)="activate=true">activate</button> -->

<!-- <app-action-bar [inputDisplay]="false"></app-action-bar>
<app-action-bar [inputDisplay]="true"></app-action-bar> -->
{{customerList[0]}}

<ul>
  <li *ngFor="let customer of customerList; let i = index ">
    {{customer}}
    <button (click)="removeCustomer(i)">remove</button>
  </li>
</ul>
<button (click)="pushCustomer()">push</button>
<button (click)="unshiftCustomer()">unshift</button>